/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* @import url("assets/fonts/Minecraft.ttf"); */
@font-face {
  font-family: "Minecraft";
  src: url(./assets/fonts/Minecraft.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ELEMENTS */
body {
  text-align: center;
  background-color: #fadcc7;
  font-family: "Press Start 2P", sans-serif !important;
}

button {
  width: 20em;
  height: 3em;
  font-size: 1rem;
  border-radius: 33%;
}

/* CLASSES */
.game-container {
  text-align: center;
  z-index: -1;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin-top: 1rem;
}

/* ID'S */
#canvas {
  border: 1.5rem solid #d6b774;
}

#greeting {
  font-family: "Press Start 2P", sans-serif;
  font-size: 3rem;
  animation: blinker 2s linear infinite;
}

#score {
  font-family: "Minecraft", sans-serif;
  color: #000000;
}

#winner {
  text-align: center;
  background-color: #cff0e1;
  font-size: 3rem;
  font-family: "Press Start 2P";
  margin: 2rem auto 2rem auto;
  width: 65%;
  animation: blinker 0.5s linear infinite;
}

#easy {
  background-color: #cbc4de;
}

#medium {
  background-color: #cbc4de;
}

#hard {
  background-color: #cbc4de;
}

#stop {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 3rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 800px) {
  button {
    width: 20em;
    height: 3em;
    font-size: 1rem;
    border-radius: 33%;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* KEYFRAMES */
@keyframes blinker {
  90% {
    opacity: 0;
  }
}
