/* FONTS */
/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */

/* ELEMENTS */
body {
  display: flex;
  justify-content: center;
  background-color: #fadcc7;
  font-family: "Press Start 2P", sans-serif;
}

canvas {
  margin-top: 3rem;
}

/* CLASSES */

/* ID'S */
#greeting {
}

/* MEDIA QUERIES */
